/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  padding: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 32%;
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.8rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.btn:link, .btn:visited {
  display: block;
  text-decoration: none;
  background-color: #fff;
  margin-top: 8rem;
  padding: 1.2rem 3.6rem;
  border-radius: 100px;
  align-self: start;
}

.btn:hover, .btn:active {
  transform: scale(1.1);
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}

.btn-suv {
  color: hsl(184, 100%, 22%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
}


/* MAIN */

.content {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.car {
  max-width: 30rem;
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  transition: all 0.3s;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}


/* ATTRIBUTION */

.attribution {
  margin-top: 5rem;
  color: #333;
  font-size: 11px;
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover,
.attribution a:active {
  text-decoration: none;
}


/* QUERIES */
/* BELOW 800px - TABLETS */
@media (max-width: 50em) {
  html {
    font-size: 56.25%;
  }
  
  .btn:link, .btn:visited {
    padding: 1.2rem 2.4rem;
}
}

/* BELOW 704px - SMALL TABLETS */
@media (max-width: 44em) {
  html {
   font-size: 50%;
  }
}

/* MOBILE */
/* BELOW 576px - MOBILE */
@media (max-width: 36em) {
  html {
    font-size: 62.5%;
  }

 .content {
  flex-direction: column;
 }

 .car {
  padding: 4.8rem;
  max-width: 33rem;
 }
 
 .btn:link, .btn:visited {
   margin-top: 0;
   padding: 1.2rem 3.2rem;
 }
}
